QLabel {
    color: #2D3748;
    font-size: 14px;
}

QLabel#appTitle {
    color: #D35400;
    font-size: 28px;
    font-weight: bold;
    padding: 14px;
}

#agentTitle,
#statTitle {
    color: #777777;
    font-size: 11pt;
    font-weight: bold;
}

#agentStatus {
    font-size: 18pt;
    font-weight: bold;
}

#statValue {
    font-size: 24pt;
    font-weight: bold;
    color: #F57C00;
}

QLabel#quantityLabel {
    font-size: 16px;
    font-weight: bold;
}